ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: ghostwhite;
}
.ute{
	font-size: 150%;
	background-image: url("./images/betterimage.jpg");
	background-repeat: no-repeat;
	background-size: 1900px 800px;

	color: white;
	padding-top: 350px;
	padding-left: 800px;
	padding-bottom: 200px;

}
body{
	margin: 0px;
	font-family: system-ui;
}
h1{
	text-align: middle;
	top: 0px;
	left: 710px;
	background: ghostwhite;
	width: 500px;
	position: sticky;
}
li a{
	float: right;
	display: block;
	color: lightskyblue;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	/*border-right: 1px solid black;*/
	min-width: 160px;
}
li a:hover{
	background-color: lightgray;
}
